<div class="container">
  <div class="d-flex justify-content-center">
    <div class="w-50">
      <h2>Ask something to your coach: </h2>
      <form class="form-group d-flex m-3" action="/answer" method="get" data-turbo="false">

        <input type="text" name="question" class="form-control">

        <input type="submit" value="Ask!" class="btn btn-primary">

      </form>
    </div>
  </div>


</div>
